body {
    overflow-y: scroll!important;  /* Prevent Search modal popup from removing the scrollbar */
}

.bg-dark {
    background-color: #1f2224!important;
}

.navbar-brand strong {
    font-weight: 300!important;
    letter-spacing: .025em!important;
    text-transform: uppercase!important;
    color: #c8c8c9!important;
}

.navbar-brand > img {
    display: none!important;
}

.navbar-nav .nav-item.divider-vertical {
    display: none!important;
}

#navbarCollapse {
    font-weight: 300!important;
    flex-grow: 0!important;
}

app-language {
    display: none!important;
}

/* app-gallery-navbar {
    display: inline-block!important;
    width: 100%!important;
    box-sizing: border-box!important;
} */

app-gallery-navbar > div.mb-2 {
    margin-bottom: 0!important;
}

.blog-map-row {
    display: none!important;
}

/* Map button revamp */
app-gallery-map {
    display: inline-block!important;
    position: relative!important;
    height: auto!important;
    width: auto!important;
    right: 0!important;
}
/* End map button revamp */

app-gallery-search > form[role="search"] {
    padding: 0;
}

app-gallery-search-field-base.form-control, app-gallery-search > form > div > button:first-of-type {
    display: none;
}

app-gallery-search > form > div > button:last-of-type {
    background-color: inherit;
    border: none;
    color: #ffffff8c;
}

app-gallery-search > form > div > button:last-of-type:hover, app-gallery-search > form > div > button:last-of-type:focus, app-gallery-search > form > div > button:last-of-type:active,
app-gallery-search > form > div > button:last-of-type:focus-visible {
    background-color: inherit;
    color: #c8c8c9;
    box-shadow: none;
    border: none;
}
